<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Followers</h2>
    </div>
    <%= render "layouts/users_left", users: @users %>
    <% if @users.count > 8 %>
      <%= render "layouts/center_line" %>
      <%= render "layouts/users_right", users: @users %>
    <% end %>
  </div>
</div>