<div class="container">
  <div class="row">
    <%= render "layouts/user_search_form" %>
      <div class="col-md-12">
        <h2>Users</h2>
      </div>
    <%= render "layouts/users", users: @users %>
  </div>
</div>