<div class="container">
  <div class="row">
    <%= render "layouts/user_search_form" %>
      <div class="col-md-12">
        <h5>検索結果 "<strong><%= @keyword %></strong>"</h5>
      </div>
    <%= render "layouts/users_left", users: @users %>
    <% if @users.count > 8 %>
      <%= render "layouts/users_right", users: @users %>
    <% end %>
  </div>
</div>