<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <i class="fas fa-exclamation-triangle fa-8x"></i>
      <h2 class="mt-3 mb-4">退会手続きの前にご確認ください</h2>
      <div class="d-flex justify-content-center">
        <p class="confirm-text mb-5">
          退会すると投稿履歴が全て削除されます。</br>
          本当によろしいですか？
        </p>
      </div>
      <%= link_to "退会する", user_path(@user.id), method: :delete, class: "btn btn-outline-secondary btn-sm" %>
      <%= link_to "戻る", user_path(@user.id), class: "btn btn-outline-secondary btn-sm ml-4" %>
    </div>
  </div>
</div>