<div class="container">
  <div class="row">
    <div class="col-md-12 about text-center">
      <p class="about-title">About</p>
      <p><span class="about-text">"行きたい"を原動力に。</span></p>
      <p class="about-message">
        「ITUKA」は、"また行きたい"と思う場所を共有するサイトです。</br>
        行きたい場所を見つけたいときや、思い出を記録するとき、</br>
        ユーザー同士でおすすめの場所を共有したいときにご利用ください。</br>
        "行きたい"があなたを動かす力になるでしょう。
      </p>
    </div>
    <div class="image4">
      <%= image_tag "picture_man.png" %>
    </div>
    <div class="image5">
      <%= image_tag "travel_man.png" %>
    </div>
  </div>
</div>
