<div class="about">
  <p class="text1">こんなふうに思うことはありませんか？</p>
  <div class="content-left fadein1">
    <div class="hukidashi1"><%= image_tag "hukidashi1", size: "500x250" %></div>
    <p class="left-text">あの時行ったあの場所が忘れられない、、、</p>
  </div>
  <div class="content-right fadein2">
    <div class="hukidashi2"><%= image_tag "hukidashi2", size: "300x200"  %></div>
    <p class="right-text">また行きたいな、、</p>
  </div>
  <div class="people text-center">
    <%= image_tag "about-logo", size: "400x400" %>
  </div>
  <div class="content-main fadein3">
    <p class="text2">「 ITUKA 」は、、、</p>
    <p class="text3">
      今はまだ行けないけど、またいつか行きたい、、！</br>
      そんな素敵な場所と思い出を共有する場所です。</br>
      </br>
      行きたい場所を見つけたいときや、思い出を記録するとき、</br>
      ユーザー同士でおすすめの場所を共有したいときにご利用ください。</br>
      "行きたい"があなたを動かす力になるでしょう。
    </p>
  </div>
</div>