<div class="about">
  <div class="people text-center">
    <%= image_tag "about-logo.png", size: "400x400" %>
  </div>
  <p class="txt1">こんなふうに思うことはありませんか？</p>
  <div class="content1 fadein">
    <div class="hukidashi1"><%= image_tag "hukidashi1.png", size: "500x250" %></div>
    <p class="txt2">あの時行ったあの場所が忘れられない、、、</p>
  </div>
  <div class="content2 fadein">
    <div class="hukidashi2"><%= image_tag "hukidashi2.png", size: "300x200"  %></div>
    <p class="txt3">また行きたいな、、</p>
  </div>
  <div class="content3">
    <p class="txt4 fadein">「 ITUKA 」は、、、</p>
    <p class="txt5 fadein">
      今はまだ行けないけど、またいつか行きたい、、！<br />
      そんな素敵な場所と思い出を共有する場所です<br />
    <br />
    </p>
    <p class="txt6 fadein">
      行きたい場所を見つけたいときや、思い出を記録するとき、<br />
      ユーザー同士でおすすめの場所を共有したいときにご利用ください。<br />
      "行きたい"があなたを動かす力になるでしょう。
    </p>
  </div>
</div>