<div class="main-visual">
  <div class="space1"></div>
  <div class="content">
    <p class="top-text">
      "また行きたい"を</br>
      &ensp;共有しよう。
    </p>
    <p class="signup-button">
      <%= link_to "新規会員登録", signup_path, class: "btn btn-primary btn-lg" %>
    </p>
    <div class="arrow"><%= image_tag "arrow1.png", width: "80px", height: "90px" %></div>
  </div>
  <div class="box1">
    <%= image_tag "sample_pic1.jpg", width: "780px", height: "500px" %>
  </div>
  <div class="space2"></div>
</div>
<div class="about">
  <p class="about-title">About</p>
  <p class="about-text">"行きたい"を原動力に。</p>
  <p class="about-message">
    「ITUKA」は、"また行きたい"と思う場所を共有するサイトです。</br>
    行きたい場所を見つけたいときや、思い出を記録するとき、</br>
    ユーザー同士でおすすめの場所を共有したいときにご利用ください。</br>
    きっとあなたを動かす力になってくれるでしょう。
  </p>
  <div class="box2">
    <%= image_tag "sample_pic3.jpg", width: "700px", height: "450px" %>
  </div>
  <div class="space3"></div>
</div>
<div class="contact">
  <p class="contact-title">Contact</p>
  <div class="icon text-center">
    <a rel="noopener" href="https://www.instagram.com" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a rel="noopener" href="https://www.facebook.com" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a rel="noopener" href="https://twitter.com" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>