<div class="main-visual">
  <div class="space1"></div>
  <div class="content">
    <p class="top-text">
      "また行きたい"を</br>
      &ensp;共有しよう。
    </p>
    <p class="signup-button">
      <%= link_to "新規会員登録", signup_path, class: "btn btn-success btn-lg" %>
    </p>
    <p></p>
    <div class="arrow"><%= image_tag "arrow1.png", width: "80px", height: "90px" %></div>
  </div>
  <div id="box">
      <div id="images">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
      </div>
    </div>
</div>
