<div class="container">
  <div class="row">
    <%= render "layouts/post_search_form" %>
    <div class="col-md-12">
      <h5>検索結果 "<%= @keyword %>"</h5>
    </div>
    <%= render "layouts/posts", posts: @posts %>
  </div>
</div>