<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Post detail</h2>
    </div>
    <div class="col-md-6">
      <%= image_tag @post.image_id.url, size: "100x80" %>
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <td>Title</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>Country</td>
          <td><%= @post.country %></td>
        </tr>
        <tr>
          <td>Text</td>
          <td><%= @post.text %></td>
        </tr>
      </table>
      <h2>Comment</h2>
    </div>
  </div>
</div>