/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /*| multiple |-----------------------------*/

 body {
  color: #444444;
  background-color: #d4d4c1;
  font-family: sans-serif;
  overflow: scroll;
  height: 100vh;
 }

 .img-prev:hover,.post-list:hover,.user-posts:hover,.search-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
 }

 .search-button {
  color: white;
  background-color: #666666;
 }

 .red-heart {
  color: red;
 }

 .grey-heart {
  color: #bbbbbb;
 }
 
 .img-thumbnail {
  width: 500px;
  height: 400px;
  object-fit: cover;
 }

 .link {
  text-decoration: none;
  color: #444444;
 }

 .error-message {
  font-size: 25px;
 }

 .table-head {
  font-size: 20px;
 }

 .pagination {
  margin-top: 30px;
  display: flex;
  justify-content: right;
 }

 /*-----------------------------| multiple |*/



 /*| header |-------------------------------*/

 header {
  height: 8%;
 }

 .navbar {
  z-index: 2;
  background-color: #efecec;
 }

 .flash {
  font-size: 20px;
  color: #444444;
 }

 /*-------------------------------| header |*/



 /*| homes_top |----------------------------*/

 .content {
  position : relative;
  font-size: 40px;
  width: 100%;
  height: 300px;
 }

 .top-text {
  font-size: 40px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  color: #888888;
  padding-top: 30px;
  position: absolute;
  right: 130px;
 }

 .signup-button {
  position: absolute;
  top: 182px;
  right: 220px;
 }

 .arrow {
  position: absolute;
  right: 130px;
  top: 120px;
 }
 
 .box {
  opacity: 0.8;
 }

 /*----------------------------| homes_top |*/



 /*| homes_about |--------------------------*/

 .about {
  position: relative;
 }

 .text1 {
  font-size: 25px;
  color: #888888;
  position: absolute;
  top: 20px;
  right: 370px;
 }

 .hukidashi1 {
  position: absolute;
  top: 50px;
  left: 250px;
  z-index: 1;
 }

 .left-text {
  font-size: 20px;
  position: absolute;
  top: 120px;
  left: 300px;
  z-index: 2;
 }

 .hukidashi2 {
  position: absolute;
  top: 70px;
  right: 200px;
  z-index: 1;
 }

 .right-text {
  font-size: 20px;
  position: absolute;
  top: 130px;
  right: 250px;
  z-index: 2;
 }

 .people {
  position: absolute;
  top: 190px;
  right: 400px;
 }

 .text2 {
  color: #444444;
  font-size: 30px;
  position: absolute;
  top: 320px;
  left: 130px;
 }

 .text3 {
  color: #444444;
  font-size: 20px;
  position: absolute;
  top: 400px;
  left: 90px;
 }


 /*--------------------------| homes_about |*/



 /*| posts_index |--------------------------*/

 .new-post:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.15, 1.15);
 }

 .post-list {
  display: inline-block;
  position: relative;
  border: thin solid black;
  background-color: white;
 }

 .heart-button {
  position: absolute;
  right: 10px;
 }

 /*--------------------------| posts_index |*/



 /*| posts_show |---------------------------*/

 .table-data {
  font-size: 18px;
 }

 .comment-count {
  font-size: 45px;
 }

 .comment-form {
  word-break: normal;
 }

 .name__date {
  font-size: 13px;
 }

 /*---------------------------| posts_show |*/



 /*| users_index |--------------------------*/

 .user-image {
  border: solid 1px white;
 }

 /*---------------------------| users_index |*/



 /*| users_show |----------------------------*/

 .profile {
  border-bottom: solid 1px grey;
 }

 .user-posts {
  display: block;
  float: left;
 }

 /*----------------------------| users_show |*/



 /*| users_unsubscribe |---------------------*/

  .confirm-text {
  padding: 10px;
  width: 500px;
  color: white;
  font-weight: bold;
  background-color: #888888;
 }

 /*---------------------| users_unsubscribe |*/
