/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body {
  background-color: #eeeeee	;
  font-family: courier;
  overflow: scroll;
  height: 100vh;
 }

 .main-visual {
  position: relative;
 }

 .space1 {
  width: 100%;
  height: 170px;
 }

 .content {
  position : relative;
  font-size: 40px;
  width: 100%;
  height: 300px;
 }

 .top-text {
  font-size: 40px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  color: #666666;
  padding-top: 30px;
  position: absolute;
  right: 150px;
 }

 .signup-button {
  position: absolute;
  top: 180px;
  right: 240px;
 }

 .arrow {
  position: absolute;
  right: 150px;
  top: 120px;
 }

 .box1 {
  position: absolute;
  top: 70px;
  left: 60px;
 }

 .space2 {
  width: 100%;
  height: 300px;
  position: relative;
 }

 .about {
  width: 100%;
  height: 330px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
 }

 .about-title {
  margin-left: 230px;
  color: black;
  font-family: impact;
  font-size: 70px;
 }

 .about-text {
  margin-left: 110px;
  font-size: 40px;
 }

 .about-message {
  margin-left: 20px;
  font-size: 20px;
 }

 .box2 {
  position: absolute;
  top: 790px;
  right: 60px;
 }

 .space3 {
  width: 100%;
  height: 300px;
  position: relative;
 }

 .contact {
  width: 100%;
  height: 250px;
  margin-top: 100px;
  background-color: #bbbbbb;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
 }

 .contact-title {
  font-family: impact;
  font-size: 70px;
  text-align: center;
 }


 // a {
 //  padding-left: 10px;
 //  padding-right: 10px;
 //  font-size: 50px;
 //  text-align: center;
 //  color: black;
 // }

 // .box3 {
 //  position: absolute;
 //  top: 1380px;
 //  left: 60px;
 // }

 header {
  height: 8%;
 }

 .navbar {
  z-index: 2;
  background-color: #bbbbbb;
 }

 .field {
  font-family: Fira Sans;
  word-break: normal;
 }

 .new-post:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.15, 1.15);
 }

 .img_prev:hover,.post-list:hover,.user_posts:hover,.search-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
 }

 .navbar-brand {
  font-family: impact;
  font-size: 40px;
 }

 .search-button {
  color: white;
  background-color: #666666;
 }

 .heart-button {
  position: absolute;
  right: 10px;
 }

 .add-button {
  font-size: 10%;
 }

 .red-heart {
  color: red;
 }

 .grey-heart {
  color: #bbbbbb;
 }

 .link {
  text-decoration: none;
  color: black;
 }

 .post-list {
  display: inline-block;
  position: relative;
  border: thin solid black;
  background-color: white;
 }

 .table-head {
  font-size: 20px;
 }

 .table-data {
  font-size: 18px;
 }

 .user-image {
  border: solid 1px white;
 }

 .user_posts {
  display: block;
  float: left;
 }

 .comment_count {
  font-size: 45px;
 }

 .name_date {
  font-size: 13px;
 }

 .next-page {
  margin-top: 30px;
  display: flex;
  justify-content: right;
 }

 .confirm-text {
  padding: 10px;
  width: 500px;
  color: white;
  font-weight: bold;
  background-color: #888888;
 }

 .profile {
  border-bottom: solid 1px grey;
 }