/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body {
  font-family: courier;
  overflow: scroll;
  height: 100vh;
  background-color:#ffffdd;
 }

 header {
  height: 8%;
 }

 .field {
  font-family: Fira Sans;
 }

 .new-post:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.15, 1.15);
 }

 .img_prev:hover,.post-list:hover,.user_posts:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
 }

 .navbar-brand {
  font-family: impact;
  font-size: 40px;
 }

 .add-button {
  font-size: 10%;
 }

 .red-heart {
  color: red;
 }

 .grey-heart {
  color: #bbbbbb;
 }

 .link {
  text-decolation: none;
  color: black;
 }

 .post-list {
  display: inline-block;
  border: thin solid black;
  background-color: white;
 }

 .user-image {
  border: solid 1px white;
 }

 .user_posts {
  display: block;
  float: left;
 }

 .comment_count {
  font-size: 45px;
 }

 .name_date {
  font-size: 13px;
 }

 .confirm-text {
  padding: 10px;
  width: 500px;
  color: white;
  font-weight: bold;
  background-color: #888888;
 }